/*
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
*/
/*
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
*/
* {
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: 'Lexend Deca', sans-serif;
  background-color: white;
  width: 100vw;
  height: 100vh;
}